.modal{

    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    transform: scale(1);
}

.modal__content{
    margin: 90px auto auto;
    padding: 20px;
    border-radius: 12px;
    background-color: white;
    height: 575px;
    width: 1000px;
}
.closeCross{
    width: 25px;
    height: 20px;
    float:right;
    cursor: pointer;
}