.Items{
    display: grid;
    grid-template-areas:"ItemsArea NewItem";
    grid-template-columns:1fr 30%;
}
.ItemsArea{
    grid-area:ItemsArea;
}
.NewItem{
    grid-area:NewItem;
    border-left: 1px solid lightgray;
    padding: 10px;
}