.submit{
    float:right;
    border: 2px solid gray;
    height:auto;
    width: 300px;
    padding: 10px;
    background-color: rgba(0, 128, 0, 0.1);
    border-radius: 3px;
}
.Discount{
    color: red;
}