.App {
    display: grid;
    grid-template-areas:
    "header header"
    "side content "
    "footer footer";
    grid-template-rows: 80px 1fr 60px;
    grid-template-columns: 22% 1fr;
    grid-gap: 10px;
    height: 100vh;
    margin: 0;
}
.header{
    grid-area:header;
    background-color: green;
    position: sticky;
    top:0;
    z-index: 3;
}
.navigation{
    grid-area:side;
    background-color:red;
}
.content{
    grid-area:content;
    background-color:greenyellow;
}
.Footer{
    grid-area:footer;
    background-color:yellow;
}
