.App {
    display: grid;
    grid-template-areas:
    "header header"
    "content content "
    "footer footer";
    grid-template-rows: 70px 1fr 60px;
    grid-template-columns: 22% 1fr;
    height: 100vh;
    margin: 0;
}
.header{
    grid-area:header;
    position: sticky;
    top:0;
    z-index: 3;
}
.navigation{
    grid-area:side;
}
.content{
    grid-area:content;
}
.Footer{
    grid-area:footer;
}
